@charset "utf-8";


@import "../node_modules/bulma/bulma.sass";

@import url('https://fonts.cdnfonts.com/css/fira-mono');

:root {
	--font-mono: 'Fira Mono', monospace;
}

code,
pre {
	font-family: var(--font-mono);
	font-size: 0.9em;
}

