@charset "utf-8";


@import "../node_modules/bulma/bulma.sass";

@import "../node_modules/@fontsource/fira-mono/400.css";

:root {
	--font-mono: 'Fira Mono', monospace;
}

code,
pre {
	font-family: var(--font-mono);
	font-size: 0.9em;
}

