
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url("https://use.typekit.net/hxc3qpw.css");
// // $link: hsl(204, 64%, 44%);
// // $family-sans-serif: source-serif-pro, serif; 
// $modal-background-background-color: rgba(0, 0, 0, 0.25);
// $navbar-background-color: hsl(0, 0%, 98%);
// // $navbar-item-hover-background-color: $link;
// // $navbar-item-hover-color: hsl(0, 0%, 10%);

// $navbar-item-color: hsl(0, 0%, 29%);
// // $navbar-item-hover-color: $link;
// $navbar-item-hover-color: hsl(0, 0%, 10%);
// $navbar-item-hover-background-color: hsl(0, 0%, 93%);

// $navbar-item-active-color: hsl(0, 0%, 98%);

// $navbar-tab-active-color: hsl(0, 0%, 10%);
// $navbar-tab-active-background-color: hsl(0, 0%, 95%);
// $navbar-tab-hover-background-color: $navbar-tab-active-background-color;

// $tabs-border-bottom-color: $navbar-item-color;
// $tabs-border-bottom-style: "solid";

// $body-overflow-y: auto;

// html {
//   overflow: auto;
// }

// .title, .subtitle {
//   font-family: source-serif-pro, serif;
// }

// .modal-card-title {
//   font-family: source-serif-pro, serif;
// }

$body-size: 14px !default;
$title-size: 2.5rem;
$title-weight: 500;
$title-color:hsl(0, 0%, 31%);
$hr-height: 1px;
$hr-background-color: hsl(0, 0%, 96%);
$family-sans-serif: "Open Sans", sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: "Kalam", cursive;
// $label-weight: 400;
// $tabs-border-bottom-color: hsl(0, 0%, 50%);
// $tabs-border-bottom-style: "solid";
// $tabs-border-bottom-width: "2px";
// $tabs-link-active-border-bottom-color: hsl(229, 53%,  50%);

$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

$input-hover-border-color: hsl(0, 0%, 68%);
$input-color: hsl(0, 0%, 35%);
$input-hover-color: hsl(0, 0%, 21%);
$body-overflow-y: auto;

// $section-padding: 3rem 1.0rem;
// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

@import "../node_modules/bulma/bulma.sass";

// html {
//   font-size: 8px;
//   @include tablet {
//     font-size: 14px;
//   }
//   @include desktop {
//     font-size: 16px;
//   }
// }

.min-w120 {
  margin-top: 4px;
}

html {
  overflow-y: auto;
}