@import '@fontsource/fira-mono';
@import '@fontsource/fira-mono/400.css';
/* @import "@fontsource/fira-mono/400-italic.css"; */

.p-2 {
	padding: 12px;
}

.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-20 {
	margin-bottom: 20px;
}

.flex-1 {
	flex: 1;
}

.font-bold {
	font-weight: 700;
}

.font-italic {
	font-style: oblique;
}
.title {
	font-weight: 400;
	font-size: x-large;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.border-1 {
	border: 1px solid var(--border-color);
}

.radius-1 {
	border-radius: 4px;
}

section {
	max-width: calc(100% - 64px);
	margin: 0 auto;
}

.flex-center {
	align-items: center;
}
@media screen and (max-width: 600px) {
	section {
		max-width: calc(100% - 24px);
		margin: 0 auto;
	}
}

.w-100 {
	width: 100%;
}
