
/* @import "@fontsource/fira-mono/400-italic.css"; */


/* dialog {
	background-color: #fafcf9;
} */

/* input, textarea, select {
	padding: 3px 6px;
}
button {
	padding: 3px 16px;
} */

/* .p-2 {
	padding: 12px;
}

.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-20 {
	margin-bottom: 20px;
}

.flex-1 {
	flex: 1;
}

.font-bold {
	font-weight: 700;
}

.font-italic {
	font-style: oblique;
}
.title {
	font-weight: 500;
	font-size: x-large;
}

.subtitle {
	font-weight: 400;
	font-size: large;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.border-1 {
	border: 1px solid var(--border-color);
}

.radius-1 {
	border-radius: 4px;
}

.flex-center {
	align-items: center;
}

.w-100 {
	width: 100%;
}

section {
	display: block;
  max-width: 960px;
	width: calc(100% - 64px);
  margin: 0 16px;
	background-color: #fafcf9;
	border: 2px solid #999;
	padding: 0 24px 24px;
}

.gap-x-20 {
	column-gap: 24px;
}

@media screen and (max-width: 600px) {
	section {
		max-width: calc(100% - 24px);
		margin: 0 auto;
	}
}
 */
